<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>stats</p>
          </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>feed</p>
          </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>about</p>
          </div>
        </div>
    </div>
</div>
<!-- begin row 2. -->
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>trends</p>
          </div>
        </div>
    </div>
</div>
