<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            HEADER
        </div>
    </div>
</div>
<!-- begin row 2. -->
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>profile</p>
          </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>tweets</p>
          </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>who to follow</p>
          </div>
        </div>
    </div>
</div>
<!-- begin row 2. -->
<div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>trends</p>
          </div>
        </div>
    </div>
</div>
